{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block main %}
<h1 class="text-center mt-5">About Us.</h1>


<div class="text-center mt-auto container-fluid">
    <!-- 進度條 -->
    專題目前進度
    <div class="progress my-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
    </div>
    </br>
    還剩下的未完成事項:</br>
    (1) 把註冊、歷史資料存取串接mysql資料庫</br>
    (2) 把專案程式移到樹梅派上</br>
    (3) 112年04月20日（四）中午12:00前完成「專題實務期末報告書」word及紙本(需膠裝)、專題製作成果海報、專題製作成果簡報<br>
    紙本都送至系辦公室，電子檔上傳至<a class="link-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSf9EOVyH_PiKYBUKYvFQjNyWC70-V_uMBt_kmW0TDSpY9JL_g/viewform">連結</a><br>
    <br>
    更多詳細資料請參考系網公告(<a class="link-primary" href="https://en.mcut.edu.tw/p/406-1051-57889,r758.php?Lang=zh-tw">連結</a>)
    
</div>


<footer class="fixed-bottom text-center text-white-50">
    <p>明志科大畢業專題, by <a class="text-white text-decoration-none">吳家豪、江易澤、林承旭</a>.</p>
</footer>
{% endblock %}