<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <!-- Responsive Web Design -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  {# <!--Import our custom stylesheet--> #}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {# <!--Import our web icon--> #}
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">   
  {# <!--可供更改的部分，block有點像在程式裡挖洞的概念，讓套用此模板的不同網頁可以填入不同的內容，大家都要用的就不要用block處理--> #}
  <title>{% block title %}{% endblock title %}</title>
  {% block styles %}{% endblock %}
</head>
<body class="text-white bg-dark bg-gradient" {% block body %}{% endblock %}>
  
    <!-- 希望能固定出現在每個網頁的 nav(尚未添加) -->
    {% block navbar %}{% endblock %}
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class="container-fluid">

        <!-- 宣告一個可折疊的按鈕 mobile version -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- desktop version -->
        <!-- navbar的左邊 -->
        <div class="collapse navbar-collapse navbarSupportedContent">

          <a class="navbar-brand">
            <img src="{{ url_for('static', filename='img/face_mask.svg') }}" alt="" width="30" height="24" class="d-inline-block align-text-top">
            <!-- 首頁 -->Mask Detection
          </a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('history') }}"><!-- 歷史紀錄 -->History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about_us') }}"><!-- 關於我們 -->About</a>
            </li>
            {#
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('test_page') }}"><!-- 測試用頁面 -->開發人員測試用</a>
            </li>
            #}
          </ul>
        </div>
        <!-- 左邊結束 -->
        <!-- navbar的右邊 -->
        <div class="collapse navbar-collapse justify-content-end navbarSupportedContent">
          <ul class="navbar-nav">
              <!-- <li class="nav-item ">
                  <a class="nav-link" href="#">测试</a>
              </li> -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Setting
                </a>
                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" href="{{ url_for('test_page') }}"><!-- 測試用頁面 -->開發人員測試頁面</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('test_stream') }}">測試串流</a></li>
                  <li><a class="dropdown-item" href="#">登出帳號</a></li>
                </ul>
              </li>
          </ul>
        </div>
        <!-- 右邊結束 -->
      </div>
    </nav>



  {# <!-- Convenience block inside the body. Put stuff here. --> #}
  {% block content %}{% endblock %}

  <main>
    {# <!-- 可供更改的部分 --> #}
    {% block main %}{% endblock main %}
  </main>

{#
  <!-- 希望能固定出現在每個網頁的 footer(尚未添加) https://ithelp.ithome.com.tw/articles/10267476 -->
  <footer class="fixed-bottom text-center text-white-50">
    <p>明志科大畢業專題, by <a class="text-white">吳家豪、江易澤、林承旭</a> <a href="#" class="text-white">吳家豪、江易澤、林承旭</a>.</p>
  </footer>
#}

  {#<!-- Import Bootstrap bundle -->#}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
  {% block script %}{% endblock %}

</body>
</html>