{% extends "base.html" %}

{% block title %}Show img{% endblock title %}

{% block main %}

    {# <!-- Import Bootstrap SVG: https://bootstrap5.hexschool.com/docs/5.0/components/alerts/#icons --> #}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
    


    <div class="text-center mt-auto container-fluid">

        <h1 class="title d-flex">Camera Live Streaming</h1>

        <div class="alert alert-primary d-flex justify-content-center d-none" role="alert">
            <span class="spinner-border flex-shrink-1 me-2"  style="width: 1.5rem; height: 1.5rem;" role="status" aria-hidden="true"></span>
              <strong>偵測中請稍等...</strong>
        </div>
        <div class="alert alert-success d-flex justify-content-center d-none" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
            <strong>有配戴口罩</strong>
            </div>
        </div>
        <div class="alert alert-warning d-flex justify-content-center d-none" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
            <strong>口罩沒戴好!</strong>
            </div>
        </div>
        <div class="alert alert-danger d-flex justify-content-center d-none" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
            <strong>沒有戴口罩!</strong>
            </div>
        </div>

        <img src="{{ url_for('video_feed') }}" alt="即時影像" class="rounded mx-auto d-block">
        

        <button type="button" class="btn btn-light btn-lg mt-2 fw-bold" id="start_btn">開始偵測</button>

    </div>
<!-- </br> -->
{% endblock main %}

{% block script %}
{# <!-- ref: https://blog.csdn.net/ZHANGYANG_1109/article/details/121482666 --> #}
<!-- Import jquery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

<script>

// 測試ajax
    $("#start_btn").click(function(){
        $(".alert-primary").removeClass("d-none");
      $.ajax({
          url:"{{ url_for('detect_mask') }}",
          type:'POST',
           data: {'mydata':'點擊按扭了'},
          dataType:"json",
        // data:…和success(data)不是同一個！ ref: https://blog.csdn.net/EchoooZhang/article/details/104491914
        // 前者：從前端獲取並想傳給後台的數據
        // 後者：傳後台成功後，後台返回给你的處理好的數據  
        success:function (data) {

             //在html頁面的標籤裡顯示自己後台返回的data內容

             if (data.detect_result == "with_mask"){// 有口罩
                $(".alert-primary").addClass("d-none");
                $(".alert-success").removeClass("d-none");
                $(".alert-success").addClass("d-block");
                window.setTimeout(function(){
                    $(".alert-success").removeClass("d-block");
                    $(".alert-success").addClass("d-none");
                },5000);//顯示的時間
            }else if (data.detect_result == "mask_weared_incorrect"){// 口罩沒戴好
                $(".alert-primary").addClass("d-none");
                $(".alert-warning").removeClass("d-none");
                $(".alert-warning").addClass("d-block");
                window.setTimeout(function(){
                    $(".alert-warning").removeClass("d-block");
                    $(".alert-warning").addClass("d-none");
                },5000);//顯示的時間
            }else if (data.detect_result == "without_mask"){// 無口罩
                $(".alert-primary").addClass("d-none");
                $(".alert-danger").removeClass("d-none");
                $(".alert-danger").addClass("d-block");
                window.setTimeout(function(){
                    $(".alert-danger").removeClass("d-block");
                    $(".alert-danger").addClass("d-none");
                },5000);//顯示的時間
            }

        }});
   });

</script>
{% endblock script %}