{% extends "base.html" %}

{% block title %}Detecting historical records{% endblock %}

{% block main %}
<h1 class="text-center mt-5">Detecting historical records</h1>

<div class="container table-responsive">
    <table class="table table-striped table-dark table-hover">
      <tr class="table__header">
          {% for header in history_page_headings %}
          <th class="table__cell">{{ header }}</th>
          {% endfor %}
      </tr>
      {% for row in test_data %}
      <tr class="table__row">
          {% for cell in row %}
          <td class="table_cell">{{ cell }}</td>
          {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}