{% extends "base.html" %}

{% block title %}Index page{% endblock %}

{% block main %}
    <h1>Hello World !!</h1>
    <a href="{{ url_for('login_page') }}">click here login</a><br/>
    <a href="{{ url_for('show') }}">show img</a><br/>
    <a href="{{ url_for('camera') }}">show camera streaming</a>
    
    <!-- <h3>Pictures Streaming</h3>
    <img src="{{ url_for('video_feed') }}"> -->

    <h1>slideshow</h1>
    <img src="{{ url_for('slideshow') }}" style='width: 50%; height: 50%;'/>
    
{% endblock %}