{# source https://bootstrap5.hexschool.com/docs/5.0/examples/cover/# #}
{% extends "base.html" %}

{% block title %}Quick Start{% endblock %}

{% block main %}

    <div class="text-center container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {#     
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Mcut Project</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Features(改成history?)</a>
                    <a class="nav-link" href="#">Contact</a>
                </nav>
            </div>
        </header>
        #}
  
        <div>
            <h1>Mask Detect System.</h1>
            <!-- <div style="display: inline-block;vertical-align: middle;">
            </div> -->
            <p class="lead">這個專題是用 flask 結合 yolov5 lite 訓練出的model進行實時的影像辨識，歡迎來體驗。</p>
            <p class="lead">
                <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">快速開始</button>
                {# bootstrap範例原本的btn <a href="#" class="btn btn-lg btn-secondary text-dark fw-bold border-white bg-white">Learn more</a> #}
            </p>
        </div>
    
        <footer class="mt-auto text-white-50">
            <p>明志科大畢業專題, by <a class="text-white">吳家豪、江易澤、林承旭</a>{# <a href="#" class="text-white">吳家豪、江易澤、林承旭</a> #}.</p>
        </footer>
    </div>

{% endblock %}