{% extends "base.html" %}

{% block title %}yolo deepsort{% endblock %}

{% block styles %}  

<link rel='stylesheet' href="{{ url_for('static', filename='css/test_page.css') }}">
<script src="{{ url_for('static', filename='js/client.js') }}"></script>

{% endblock %}


{% block main %}

{#
  <div class="container">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="test_page.html"  type = "submit">YoloV5 測試用頁面</a>
        </li>
      </ul>
    </nav>
  </div>
#}


<!-- 主程式開始 -->
<div>
  <div class='center'>
    <div class='title text-white'>Target Detection and Multi-Target Tracking Platform</div>
    <p class="fs-5 mb-1 text-white-50">YoloV5 測試用頁面</p>
    <div class='content'>
      <div class='no-display'>
      <form action = "{{ url_for('get_image') }}" method = "POST"
         enctype = "multipart/form-data">
         <input id='file-input'
               class='no-display'
               type='file'
               name='images'
               accept='image/png,image/jpeg,image/jpg,video/mp4,video/avi'
               onchange='showPicked(this)'>
      </div>
      <button class='btn btn-outline-warning' type='button' onclick='showPicker()'>Upload file</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='250'>
        <video autoplay="autoplay" id='image-picked1' class='no-display' alt='Chosen Image' height='250'>
      </div>
      <div class='analyze'>
        <button id="analyze-button" class="btn btn-warning btn-lg" type = "submit">Analyze</button>
      </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}


